.container {


margin-top: 20px;
min-height: 80vh;
width: 100%;

>h1{
    text-align: center;
}


>.blogs{

    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;



    >.blog{

        background-color: aquamarine;
        width: 300px;
        height: 400px;
        margin-bottom: 20px;
        padding: 20px;


    }
    
}



}